<div class="container">
  <div class="err-404">

    <!--<md-toolbar color="primary">
      <img md-card-image src="assets/img/logo-small.png" class="company-logo-image-alt">
      <span>Page not found!</span>
    </md-toolbar>-->
    <md-card class="example-card">
      <md-card-header>
        <md-card-title>Page not found</md-card-title>
        <md-card-subtitle>Please look at current URL. Is it correct? Maybe you've found one of our blind spots :).</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/img/404.jpg">
      <!--<md-card-content>

      </md-card-content>-->
      <md-card-actions align="center">
        <a md-raised-button href="." color="primary" (click)="stepBack()">Previous page</a>
        <a md-raised-button routerLink="/" color="primary">Back to home page</a>
      </md-card-actions>
    </md-card>
  </div>
</div>



