.company-logo-image-alt {
  display: inline-block;
  margin: 0 1em 0 0 !important;
  height: 40px;
  width: auto;
}

.err-404 {
  width: 90%;
  max-width: 1024px;
  margin: 50px auto;
}

md-card-actions {
  /*text-align: center;*/
}
