<!--</form>-->
<div class="container">
  <div class="login-window">

    <!--
    <div class="company-logo">
      <img md-card-image src="assets/img/logo.png" class="company-logo-image">
    </div>
    -->
    <md-toolbar color="primary">
      <img md-card-image src="assets/img/logo-small.png" class="company-logo-image-alt">
      <span>E-mail templates app</span>
    </md-toolbar>
    <md-card class="example-card">
      <md-card-content>
        <md-input-container class="full-width">
          <input mdInput placeholder="Username" [(ngModel)]="user.username" #username>
        </md-input-container>

        <md-input-container class="full-width">
          <input mdInput placeholder="Password" type="password" [(ngModel)]="user.password" #password>
        </md-input-container>

        <div class="message" *ngIf="errorMsg">{{ errorMsg }}</div>

      </md-card-content>
      <md-card-actions style="text-align: center;">
        <a md-raised-button routerLink="." color="primary" (click)="login()">Log in</a>
      </md-card-actions>
    </md-card>
  </div>
</div>
