.login-window {
  width: 500px;
  margin: 0 auto 0;
}
.company-logo {
  width: 100px;
  margin: 0 auto 30px;
}
.company-logo-image {
  display: block;
  margin: 0;
  max-width: 100%;
}
.company-logo-image-alt {
  display: inline-block;
  margin: 0 1em 0 0 !important;
  height: 40px;
  width: auto;
}
.example-form {
  width: 500px;
}
