<md-sidenav-container class="mail-templates-container">
  <md-sidenav #sidenav mode="side" opened="true" class="mail-templates-sidebar" (open-start)="openStart()" (open)="open()" (close-start)="closeStart()" (close)="close()">
    <div class="mail-templates-scrolling-content sidebar-scrolling-content">
      <div class="mail-templates-filter">
        <md-radio-group class="mail-templates-filter-radios" [(ngModel)]="currentSortOrder">
          <h3 md-subheader>Sort templates by:</h3>
          <md-radio-button class="example-radio-button" *ngFor="let prop of config.allowedSortByProperties" [value]="prop" (change)="sortTemplates(prop)">
            {{prop}}
          </md-radio-button>
        </md-radio-group>
      </div>

      <!-- <h1>{{ SomeValue }}</h1> -->

      <md-list>
        <h3 md-subheader>E-mail templates:</h3>
        <md-list-item *ngIf="templates.length == 0">&laquo;no saved templates&raquo;</md-list-item>
        <md-list-item *ngFor="let template of templates">
          <div class="templates-item">
            <div class="templates-item-title">
              {{ template.title }} <span class="templates-item-title-id">(ID: {{ template.id }})</span>
            </div>

            <div class="templates-item-buttons">
              <button md-mini-fab color="primary" (click)="getSingleTemplate(template.id)" title="Edit template" title="Edit template">
                <md-icon fontSet="fontawesome" fontIcon="fa-pencil-square-o"></md-icon>
              </button>
              <!--
              <button md-mini-fab color="primary" title="Template info">
                <md-icon fontSet="fontawesome" fontIcon="fa-info"></md-icon>
              </button>
              <br>
              <button md-mini-fab color="primary" title="Preview template">
                <md-icon fontSet="fontawesome" fontIcon="fa-eye"></md-icon>
              </button>
              -->
              <button md-mini-fab  color="warn" title="Remove template" (click)="deleteTemplate(template)" title="Delete template">
                <md-icon fontSet="fontawesome" fontIcon="fa-trash-o"></md-icon>
              </button>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </div>

    <div class="sidebar-buttons">
      <button md-mini-fab color="primary" class="example-fab" (click)="sidenav.toggle()" title="Hide the sidebar">
        <md-icon fontSet="fontawesome" fontIcon="fa-arrow-left"></md-icon>
      </button>

      <button md-mini-fab color="primary" class="example-fab" (click)="prepareEmptyTemplate()" title="Prepare new empty template">
        <md-icon fontSet="fontawesome" fontIcon="fa-plus"></md-icon>
      </button>
    </div>
  </md-sidenav>
  <div class="mail-templates-scrolling-content mail-templates-content">
    <app-mail-detail (handleDataInParentClass)="handleEventsFromChild($event)" [template]="mailTemplate"></app-mail-detail>

  </div>
  <div class="content-buttons">
    <button md-mini-fab color="primary" class="example-fab" (click)="sidenav.toggle()" id="showSidebar" title="Show sidebar">
      <md-icon fontSet="fontawesome" fontIcon="fa-list"></md-icon>
    </button>
  </div>
</md-sidenav-container>
