/*** LAYOUT */
/* container of whole site */
.mail-templates-container {
  flex: 1;
  overflow: visible;
}

/* main content part of site */
.mail-templates-content {
  width: calc(100vw - 360px);
  margin: 30px auto;
}


/* scrolling content of both page parts - sidebar with templates (list and filter) / main content page (tabs with form and preview) */
.mail-templates-scrolling-content {
  overflow: visible;
  margin: 0 auto;
}



/*** SIDEBAR */
.mail-templates-sidebar {
  display: block !important;
  background: white;
  width: 300px;
  box-shadow: 1px 0 5px 0 rgba(0,0,0,.15);
}
.mail-templates-sidebar .mail-templates-scrolling-content {
  margin: 0 15px;
}

/*** LIST */

/* list item following another list item */
md-list-item + md-list-item {
  border-top: 1px solid rgba(0,0,0,.25);
}
/* removed right padding from list item */
.mail-templates-sidebar .mat-list-item-content {
  padding-right: 0;
}
/* one row in list of templates */
.templates-item {
  flex: 1;
  display: flex;
  align-items: center;
}
/* name of template */
.templates-item-title {
  flex: 1;
}
/* ID of template */
.templates-item-title-id {
  font-size: 10px;
  color: #404040;
}

/* template item row buttons */
.templates-item-buttons {
  pointer-events: none;
}
/* one button */
.templates-item-buttons .mat-mini-fab {
  opacity: 0;
  transition: opacity .3s;
  font-size: 20px;
}
/* hover over templates line will show buttons */
.templates-item:hover .templates-item-buttons {
  pointer-events: initial;
}
.templates-item:hover .templates-item-buttons .mat-mini-fab {
  opacity: 1;
}

/* not displayed: animation dely for each button */
/*
.templates-item-buttons .mat-mini-fab:nth-child(1) {
  transition-delay: 0ms;
}
.templates-item-buttons .mat-mini-fab:nth-child(2) {
  transition-delay: 50ms;
}
.templates-item-buttons .mat-mini-fab:nth-child(3) {
  transition-delay: 100ms;
}
.templates-item-buttons .mat-mini-fab:nth-child(4) {
  transition-delay: 150ms;
}
*/




/*** ACTION BUTTONS */
/* action buttons in bottom parts of sidebar / content pane */
.sidebar-buttons,
.content-buttons {
  text-align: right;
  padding: 10px 20px;
}


/*** TEMPLATES FILTER */
.mail-templates-filter {
  margin-bottom: 15px;
  padding: 0 1em;
}
.mail-templates-filter .mat-radio-button{
  text-transform: capitalize;
}

.mail-templates-filter .mat-subheader {
  display: block;
  box-sizing: border-box;
  height: 48px;
  padding: 16px 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0,0,0,.54);
}
.mail-templates-filter-radios .mat-radio-button + .mat-radio-button {
  margin-left: 10px;
}
