/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: Roboto,"Helvetica Neue",sans-serif;

  width: 100% !important;
  padding: 0 !important;
}

.full-width {
  width: 100%;
}

.message {
  padding: 20px;
  background: #f44336;
  margin: 1em 0;
}

.app-toolbar .mat-toolbar-row {
  justify-content: space-between;
}

.cdk-focus-trap-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* list item content in mail templates list */
.mail-templates-sidebar .mat-list .mat-list-item .mat-list-item-content {
  padding-right: 0;
}

.mail-templates-container .mat-sidenav-content,
.mail-templates-container md-sidenav {
  display: flex;
  flex-direction: column;
  overflow: visible;
  justify-content: space-between;
}

.mat-tab-body-wrapper {
  padding-top: 16px;
}
.mat-tab-label-active {
  opacity: 1 !important;
}
.mat-tab-disabled {
  opacity: .3 !important;
}

/* override of bootstrap */
@media all {
  .btn {
    border-radius: 0;
  }

  .btn-primary {
    background: #3f51b5;
  }

  .modal-lg {
    width: 500px;
  }

  .modal-content {
    border-radius: 0;
  }

  .modal-header {
    background: #3f51b5;
    color: #fff;
  }

  .bottom-right-corner {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .alert-autoclose-opened .modal-backdrop {
    opacity: 0;
    pointer-events: none;
  }
}
