<md-tab-group>

  <md-tab label="Meta info">
    <md-input-container class="full-width">
      <input mdInput placeholder="ID" class="mail-template-id" #mailTemplateId disabled [(ngModel)]="template.id">
    </md-input-container>

    <md-input-container class="full-width">
      <input mdInput placeholder="Title" class="mail-template-title" #mailTemplateTitle [(ngModel)]="template.title">
    </md-input-container>



    <md-input-container class="full-width">

      <textarea mdInput mdTextareaAutosize placeholder="Template content" class="mail-template-content" #mailTemplateContent [(ngModel)]="template.content">{{template.content}}</textarea>
      <md-hint align="end">{{mailTemplateContent.value.length}} characters</md-hint>
    </md-input-container>

    <div class="mail-template-buttons">
      <button md-raised-button color="primary" align="right" *ngIf="!template.id" [disabled]="mailTemplateTitle.value.length === 0 || mailTemplateContent.value.length === 0 ? '' : null" (click)="sendEventToParent('create')" title="Create new template">Create</button>
      <button md-raised-button color="warn" align="right" *ngIf="!template.id" [disabled]="mailTemplateTitle.value.length === 0 && mailTemplateContent.value.length === 0 ? '' : null" (click)="sendEventToParent('clear')" title="Clear current template">Clear</button>

      <button md-raised-button color="primary" align="right" *ngIf="template.id" [disabled]="mailTemplateTitle.value.length === 0 || mailTemplateContent.value.length === 0 ? '' : null" (click)="sendEventToParent('update')" title="Update current template">Save</button>
      <button md-raised-button color="warn" align="right" *ngIf="template.id" (click)="sendEventToParent('delete')" title="Remove current template">Delete</button>
    </div>

  </md-tab>

  <md-tab label="Preview" [disabled]="mailTemplateTitle.value.length == 0 && mailTemplateContent.value.length == 0 ? '' : null">
    <div class="preview" [innerHTML]="mailTemplateContent.value"></div>
  </md-tab>

</md-tab-group>
