.mail-template-buttons {
  text-align: right;
}

.mail-template-content {
  min-height: 350px;
  max-height: 500px /* whatever max height you want */;
  overflow: auto;
}

.mat-hint {
  display: block;
  padding: .6em 0;
  position: relative;
  margin-top: .6em;
  margin-bottom: -1em;
}
