.app-mail-templates {
  flex: 1;
  display: flex;
}

.app-toolbar {
}

.app-toolbar-name {
}

.app-toolbar-logout {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.app-toolbar-logout:hover {
}

.app-toolbar-logout .mat-icon {
  font-size: 16px;
  margin-left: 10px;
  transition: transform .25s;
  transform: translate(0, 5px);
}

.app-toolbar-logout:hover .mat-icon {
  transform: translate(5px, 5px)
}

/* ************ */
