<div class="container" >

  <md-toolbar color="primary" class="app-toolbar">
    <span class="app-toolbar-name">E-mail templates catalog</span>
    <a href="/logout" class="app-toolbar-logout" (click)="logout($event)">
      Click Here to logout
      <md-icon fontSet="fontawesome" fontIcon="fa-sign-out"></md-icon>
    </a>
  </md-toolbar>

  <app-mail-templates class="app-mail-templates" color="primary"></app-mail-templates>
</div>
